@model IEnumerable<TaskManager.Models.Project>

@{
    ViewBag.Title = "Projects";
}

@using TaskManager.Models;

<h2>Projects</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    @Html.ActionLink("Add Project", "AddProject", "Dashboard", new { @class = "navbar-brand" })
    <br /><br />
</div>
<div>
    <table style="width: 100%">
        <tr>
            <th><center>Project name</center></th>
            <th><center>Owner</center></th>
            <th><center>Creation date</center></th>
            <th><center>Add person to project</center></th>
        </tr>
        @foreach (Project project in @Model)
        {
            <tr>
                <td>@Html.ActionLink(project.Name, "Tasks", "Dashboard", new { projectID = project.ID }, new { @class = "navbar-brand" })</td>
                <td><center>@((ViewBag.UserContext as UserContext).Users.Single(user => user.ID == project.UserFK).Name) @((ViewBag.UserContext as UserContext).Users.Single(user => user.ID == project.UserFK).Surname)</center></td>
                <td><center>@project.Creation</center></td>
                @if (project.UserFK == Int32.Parse(Session["ID"].ToString()))
                {
                    <td><center>@Html.ActionLink("Add", "AddPersonToProject", "Dashboard", new { projectID = project.ID }, new { @class = "navbar-brand" })</center></td>
                }
                else
                {
                    <td><center>Only owner is allowed to do this</center></td>
                }
            </tr>
        }
    </table>
</div>
}
